APP_NAME=Material8 API
APP_ENV=development
APP_PORT=8000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=material8
POSTGRES_USER=material8
POSTGRES_PASSWORD=material8

REDIS_URL=redis://redis:6379/0
